.header{
    background-color: #008000;
    height: 70px;
    color:#ffffff;
    font-size: 20px;
    padding-bottom: 20px;
}
.header > ul{
    padding:0;
    margin: 0;
    justify-content:space-around;
    align-items: baseline;
    display: flex;
    flex-wrap: nowrap;
}
.header  li{
    list-style-type: none;
    cursor: pointer;
}
.header  li > img{
    position: relative;
    height: 50px;
}