.footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 50px;
    margin-top: 50px;
}
.footer-col{
    display: flex;
    flex-direction: column;
}
.footer-col img{
    height: 50px;
    object-fit: contain;
}
.footer-col span{
    margin-top: 20px;
}