body {
  margin: 0;
  font-family: 'Helvetica Neue';
}

code {
  font-family: 'Helvetica Neue';
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form h1{
  text-align: center;
}
